$primary: #7786ea;
$secondary: #efcb36;
$secondary-light: #f8ebec;

$body-color: #000;

$enable-rounded: false;

$progress-height: 2rem;
$progress-font-size: 1.75rem;
$progress-bg: #fff;
$progress-bar-bg: #e52421;
